
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
  background-color: black;
}

.cards1{
  margin-top: 5vh;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading1{
  color: whitesmoke;
  text-transform: uppercase;
  margin: 2vh;
  margin-top: 5vh;
  text-align: center;
  font-size: max(4.5vh,4vw);
}

.heading{
  color: whitesmoke;
  text-transform: uppercase;
  margin: 2vh;
  margin-top: 6vh;
  text-align: center;
  font-size: max(4.5vh,3.5vw);
}

.parent {
    max-width: 85vw;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 2%;
  }
  
  .card {
    height: 100%;
    border-radius: 50px;
    /* background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%); */
    background: grey;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
  }
  
  .profile{
    position: absolute;
    max-width: 98.5%;
    width: 294px;
    margin: 3px 3px;
    border-radius: 50px;
  }
  .glass {
    translate: -100px 100px;
    transform-style: preserve-3d;
    position: absolute;
    inset: 8px;
    border-radius: 55px;
    border-top-right-radius: 100%;
    background: linear-gradient(0deg, rgba(128, 128, 128, 0.349) 0%, rgba(128, 128, 128, 0.815) 100%);
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    transform: translate3d(0px, 0px, 25px) scale(0);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out;
  }
  
  .content {
    padding: 100px 60px 0px 30px;
    transform: translate3d(0, 0, 26px) scale(0);    
  }
  
  .content .title {
    display: block;
    color: rgb(245, 245, 245);
    font-weight: 900;
    font-size: 20px;
  }
  
  .content .text {
    display: block;
    color: rgba(245, 1245, 245, 0.7647058824);
    font-size: 15px;
    margin-top: 20px;
  }
  
  .bottom {
    padding: 10px 12px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate3d(0, 0, 26px) scale(0);
  }
  
  .bottom .social-buttons-container {
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
  }
  
  .bottom .social-buttons-container .social-button {
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
  }
  
  .bottom .social-buttons-container .social-button:first-child {
    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(2) {
    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(3) {
    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(4) {
    transition: transform 0.2s ease-in-out 1s, box-shadow 0.2s ease-in-out 1s;
  }
  
  .bottom .social-buttons-container .social-button .svg {
    width: 15px;
    fill: grey;
  }
  
  .bottom .social-buttons-container .social-button:hover {
    background: grey;
  }
  
  .bottom .social-buttons-container .social-button:hover .svg {
    fill: white;
  }
  
  .bottom .social-buttons-container .social-button:active {
    background: rgb(50, 50, 50);
  }
  
  /* .bottom .social-buttons-container .social-button:active .svg {
    fill: black;
  } */
  
  .logo {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
  }
  
  .logo .circle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(128, 128, 128, 0.4);
    transition: all 0.5s ease-in-out;
  }
  
  .logo .circle1 {
    width: 170px;
    transform: translate3d(0, 0, 20px);
    top: 8px;
    right: 8px;
  }
  
  .logo .circle2 {
    width: 140px;
    transform: translate3d(0, 0, 40px);
    top: 10px;
    right: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    transition-delay: 0.4s;
  }
  
  .logo .circle3 {
    width: 110px;
    transform: translate3d(0, 0, 60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
  }
  
  .logo .circle4 {
    width: 80px;
    transform: translate3d(0, 0, 80px);
  
    top: 23px;
    right: 23px;
    transition-delay: 0s;
  }
  
  .logo .circle5 {
    width: 50px;
    transform: translate3d(0, 0, 100px);
    top:30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;
  }
  .logo .circle5 img{
    width: 70%;
    height: auto;
  }
  
  .logo .circle5 .svg {
    width: 20px;
    fill: white;
  }
  
  .parent:hover .card {
      box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
  }
  
  .parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 50px);
    box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
  }
  
  .parent:hover .card .logo .circle2 {
    transform: translate3d(0, 0, 60px);
  }
  
  .parent:hover .card .logo .circle3 {
    transform: translate3d(0, 0, 80px);
  }
  
  .parent:hover .card .logo .circle4 {
    transform: translate3d(0, 0, 100px);
    display: block;
    top:-3px;
  }
  
  .parent:hover .card .logo .circle5 {
    transform: translate3d(0, 0, 120px);
    top: 0px;
  }
  .parent:hover .glass{
  transform: translate3d(0px, 0px, 25px) scale(1);
  translate: 0px 0px;
  }
  
  .parent:hover .content{
    transform: translate3d(0, 0, 26px) scale(1);   
  }
  
  .parent:hover .bottom{
   transform: translate3d(0, 0, 26px) scale(1);
  }